.blockchain {
    padding-top: 100px;
    background: url('../../images/about-blockhain-bg.svg') no-repeat;
    background-size: contain;
    background-position: 0 -5vw;

    @include media('<tablet') {
        padding-top: 42px;
    }

    .content-wrapper {
        background: url('../../images/about-blockhain-content-bg.svg') no-repeat;
        background-size: contain;
        background-position: 0 40vw;
    }

    .about-holder {
        padding-bottom: 72px;

        @include media('<tablet') {
            padding-bottom: 54px;
        }

        img {
            @include media('<tablet') {
                max-width: 85%;
                display: block;
                margin: 0 auto;
            }
        }

        .about {
            h2 {
                margin-bottom: 55px;

                @include media('<tablet') {
                    margin-bottom: 22px;
                }
            }


        }

        p {
            &:last-child {
                @include media('<tablet') {
                    margin-bottom: 0;
                }
            }


        }
    }

    h2 {
        max-width: 550px;
    }

    h4 {
        margin-bottom: 24px;

        @include media('<tablet') {
            margin-bottom: 15px;
        }
    }

    p {
        margin-bottom: 26px;
        max-width: 510px;

        @include media('<tablet') {
            margin-bottom: 21px;
        }
    }

    .cryptocurrencies-holder {
        margin-bottom: 135px;

        @include media('<desktop') {
            margin-bottom: 58px;
        }

        h2 {
            margin-bottom: 38px;

            @include media('<tablet') {
                margin-bottom: 16px;
            }
        }

        p {
            margin-bottom: 75px;
            max-width: 45%;

            @include media('<tablet') {
                max-width: 100%;
                margin-bottom: 40px;
            }
        }
    }

    .mining {
        margin-bottom: 93px;

        @include media('<desktop') {
            margin-bottom: 65px;
        }

        h2 {
            margin-bottom: 48px;

            @include media('<desktop') {
                margin-bottom: 15px;
            }
        }

        p {
            &:last-child {
                @include media('<desktop') {
                    margin-bottom: 30px;
                }
            }
        }
    }

    .contract {
        margin-bottom: 72px;

        @include media('<desktop') {
            margin-bottom: 0px;
        }

        p {
            &:last-child {
                @include media('<desktop') {
                    margin-bottom: 0;
                }
            }
        }

    }

    .contract-content {
        @include media('<tablet') {
            order: -1;
        }
    }
}

.blockchain-form {
    padding-top: 45px;

    @include media('<desktop') {
        padding-top: 35px;
    }
}

.crypto-list {
    .item {
        display: flex;
        flex-flow: column;
        align-items: center;
        padding-bottom: 84px;

        @include media('<tablet') {
            padding-bottom: 40px;
        }

        span {
            color: #737373;
        }
    }

    img {
        max-width: 100px;
        border-radius: 50%;
        margin-bottom: 20px;

        @include media('<tablet') {
            max-width: 59px;
        }
    }
}

.swiper-container-horizontal>.swiper-scrollbar {
    height: 3px;
}

.swiper-scrollbar-drag {
    background: $green-dark;
}