.blog-detail {
    padding-top: 110px;
    background: url('../../images/blog-bg.svg') no-repeat;
    background-size: contain;
    background-position: 0 8vw;
    padding-bottom: 53px;

    @include media('<desktop') {
        padding-top: 43px;
        padding-bottom: 42px;
    }

    @include media('<tablet') {
        background: none;
    }

    img {
        display: block;
        margin-bottom: 58px;
        border-radius: 10px;

        @include media('<desktop') {
            margin-bottom: 37px;
        }
    }

    h2 {
        margin-bottom: 29px;

        @include media('<desktop') {
            margin-bottom: 17px;
        }
    }

    .description {
        margin-bottom: 57px;

        @include media('<desktop') {
            margin-bottom: 37px;
        }
    }

    h3 {
        margin-bottom: 30px;

        @include media('<desktop') {
            margin-bottom: 20px;
        }
    }

    p {
        margin-bottom: 25px;

        @include media('<desktop') {
            margin-bottom: 20px;
        }
    }
}