.cart {
    padding-top: 100px;
    padding-bottom: 90px;

    @include media('<desktop') {
        padding-top: 42px;
        padding-bottom: 50px;
    }

    h2 {
        margin-bottom: 80px;

        @include media('<desktop') {
            margin-bottom: 20px;
        }
    }

    table {
        width: 100%;
        margin-bottom: 36px;
    }

    thead {
        border-bottom: 1px solid #C4C4C4;
        width: 100%;

        th {
            font-weight: 400;
            color: #6F6767;
        }

        tr {
            height: 40px;
        }
    }

    tbody {
        tr {
            height: 150px;
            border-bottom: 1px solid #C4C4C4;

            &:last-child {
                border-bottom: none;
                height: 60px;
                vertical-align: bottom;
            }
        }

        td {
            text-align: center;
        }

        .price {
            font-size: 24px;
            color: #100F0F;
            font-weight: 700;
            text-align: right;
            white-space: nowrap;

            @include media('<576px') {
                font-size: 18px;
            }
        }

        .price-name {
            text-align-last: left;
            color: #6F6767;
            font-size: 18px;
        }
    }

    .name {
        text-align: left;
    }

    img {
        height: 98px;
        width: 98px;
        margin-right: 20px;
    }

    .product {
        display: flex;
        align-items: center;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    .quantity {
        width: 200px;
    }

    .quantity-block {
        margin: 0 auto;
        display: flex;
        font-size: 20px;
        width: 85px;
        height: 34px;
        position: relative;
        border-radius: 11px;
        margin-bottom: 9px;
        margin-top: 27px;

        @include media('<576px') {
            margin-top: 0;
        }
    }

    .quantity-arrow-minus,
    .quantity-arrow-plus {
        cursor: pointer;
        padding: 5px 12px;
        width: 40px;
        border-radius: 4px;
        border: none;
        outline: none;
        position: absolute;
        background: transparent;
        color: #C8C8C8;
    }

    .quantity-arrow-plus {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .quantity-num {
        width: 85px;
        font-size: 20px;
        padding: 5px 10px;
        border-radius: 4px;
        outline: none;
        text-align: center;
        border-radius: 11px;
        border: 1px solid #ACD5AD;
        color: #100F0F;
    }

    .delete {
        padding-left: 20px;
        display: block;
        margin: 0 auto;
        background: transparent;
        border: none;
        outline: transparent;
        color: #6F6767;
        font-size: 14px;
        line-height: 14px;
        background: url('../../images/btn-delete-bg.svg') no-repeat;
        background-size: contain;
        background-position: 0 0;
    }

    .row {
        display: flex;
        justify-content: flex-end;
    }

    .btn {
        display: inline-block;
        padding: 16px 50px;
        letter-spacing: 0.065em;
        font-size: 22px;

        @include media('<desktop') {
            font-size: 18px;
        }

        @include media('<tablet') {
            width: 100%;
            padding: 14px 0;
            text-align: center;
            max-width: 320px;
        }
    }

    .table-mob {
        margin-bottom: 14px;

        @include media('>=576px') {
            display: none;
        }

        tr {
            height: 45px;
            border: none;

            &:nth-child(3n) {
                border-bottom: 1px solid #C4C4C4;
            }

            &:last-child {
                vertical-align: inherit;
            }

            td {
                &:first-child {
                    text-align: left;
                }

                &:last-child {
                    text-align: right;
                }
            }
        }

        .product {
            text-align: left;
        }

        img {
            margin-top: 12px;
            max-width: 82px;
            height: auto;
        }

        .quantity-block {
            margin: 0 0 0 auto;
        }

        .quantity-num {
            padding-top: 2px;
            padding-bottom: 2px;
            height: 30px;
        }

        .quantity-arrow-minus,
        .quantity-arrow-plus {
            padding: 2px 10px;
        }

        .quantity-arrow-plus {
            top: 15px;
        }

        .price-item {
            font-size: 20px;
        }
    }
}