.body {
    overflow-x: hidden;
}

.container {
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 15px;

    @include media('<1240px') {
        padding: 0 10px;
    }

    @include media('<desktop') {
        padding: 0 7px;
    }

    @include media('<tablet') {
        padding: 0 20px;
    }
}

.icon {
    font-family: 'icomoon';
}

.green-light {
    background: $green-light;
}

p {
    color: $gray;
}

.desktop-less-hide {
    @include media('<desktop') {
        display: none !important;
    }
}

.desktop-hide {
    @include media('>=desktop') {
        display: none !important;
    }
}

.desktop-show {
    @include media('>=desktop') {
        display: block;
    }
}

.lg-show {
    @include media('>=992px') {
        display: block;
    }
}

.lg-upper-hide {
    @include media('>=992px') {
        display: none !important;
    }
}

.lg-hide {
    @include media('<992px') {
        display: none !important;
    }
}

.tablet-hide {
    @include media('<tablet') {
        display: none !important;
    }
}

.tablet-upper-hide {
    @include media('>=tablet') {
        display: none !important;
    }
}

.tablet-less-show {
    @include media('<tablet') {
        display: block !important;
    }
}

.tablet-show {
    @include media('>=tablet') {
        display: block !important;
    }
}

.sm-hide {
    @include media('<576px') {
        display: none !important;
    }
}

.sm-show {
    @include media('>=576px') {
        display: block !important;
    }
}

.hidden {
    display: none !important;
}

.overlay {
    position: fixed;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
    transition: all $animation-speed ease-in-out;

    &--active {
        opacity: 1;
        z-index: 2;
    }
}

.fixed {
    position: fixed;
    width: 100%;
}

.is-header-fixed {
    padding-top: 69px;

    @include media('<desktop') {
        padding-top: 42px;
    }
}