.company {
    .social {
        @extend %listreset;

        i {
            color: $green-dark;
            font-size: 24px;
        }
    }

    strong {
        display: block;
        margin-bottom: 10px;
        font-size: 24px;
        color: #100F0F;

        @include media('<desktop') {
            font-size: 18px;
            margin-bottom: 6px;
        }
    }

    span,
    p {
        margin-bottom: 16px;
        color: #6F6767;
    }

    .title {
        margin-bottom: 45px;

        @include media('<desktop') {
            margin-bottom: 14px;
        }

        @include media('<tablet') {
            text-align: center;
        }
    }

    .last-section {
        padding-bottom: 150px;
    }

    .more {
        display: none;
        font-size: 20px;
        color: $green-dark;
        margin-bottom: 0;

        @include media('<desktop') {
            display: block;
        }
    }
}

.company-holder {
    padding-top: 110px;
    padding-bottom: 195px;
    background: url('../../images/main-top-bg.svg') no-repeat;
    background-size: cover;
    background-position: 0 -15vw;

    @include media('<desktop') {
        padding-top: 40px;
        padding-bottom: 92px;
    }

    h2 {
        @include media('<desktop') {
            max-width: 260px;
        }
    }

    img {
        &:first-child {
            margin-top: 25px;

            @include media('<desktop') {
                margin-top: 0;
            }
        }
    }

    .inner-image {
        @include media('<tablet') {
            order: 1;
        }
    }

    .inner-content {
        padding-top: 140px;

        @include media('<desktop') {
            padding-top: 47px;
        }

        p {
            @include media('<desktop') {
                margin-bottom: 20px;
            }

            &:last-child {
                @include media('<desktop') {
                    margin-bottom: 45px;
                }
            }
        }
    }

    p {
        margin-bottom: 40px;

        &:last-child {
            @include media('<desktop') {
                margin-bottom: 0;
            }

        }

    }

    figcaption {
        overflow: scroll;
    }
}

.team {
    background: url('../../images/company-team-bg.svg') no-repeat;
    background-size: contain;
    background-position: 0 50%;
    margin-bottom: 70px;

    @include media('<desktop') {
        margin-bottom: 30px;
    }

    .title {
        @include media('<desktop') {
            margin-bottom: 30px;
        }
    }
}

.card {
    perspective: 150rem;
    position: relative;
    min-height: 470px;
    margin-bottom: 20px;

    @include media('<tablet') {
        min-width: 320px;
        min-height: 388px
    }

    @include media('<576px') {
        min-width: 280px;
    }

    span {
        @include media('<desktop') {
            display: inline-block;
            margin-bottom: 5px;
        }
    }

    ::-webkit-scrollbar {
        width: 3px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: $green-dark;
        border-radius: 10px;
    }
}

.card-lg {
    min-height: 540px;

    @include media('<tablet') {
        min-height: 435px
    }

    .back {
        max-height: 540px;

        @include media('<desktop') {
            max-height: 425px
        }

        @include media('<tablet') {
            max-height: 435px
        }
    }
}

.card-sm {
    min-height: 430px;

    @include media('<tablet') {
        min-height: 355px
    }

    .back {
        max-height: 430px;

        @include media('<tablet') {
            max-height: 380px
        }

        @include media('<576px') {
            max-height: 346px;
        }
    }
}

.center {
    @include media('<tablet') {
        display: flex;
        justify-content: center;
    }
}

.card-side {
    border-radius: 15px;
    transition: all $animation-speed ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 400px;
    background: $white;
}

.card-bottom {
    border-left: 1px solid $green-dark;
    border-bottom: 1px solid $green-dark;
    border-right: 1px solid $green-dark;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    padding: 25px 32px 40px;
    height: 100%;

    @include media('<desktop') {
        padding: 18px 22px;
    }
}

.back {
    padding: 36px 32px 30px;
    transform: rotateY(-180deg);
    border: 1px solid $green-dark;
    overflow-y: scroll;
    max-height: 470px;

    @include media('<desktop') {
        max-height: 388px;
    }

    @include media('<576px') {
        max-height: 345px;
    }

    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.front {
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.card:hover .card-side.front {
    transform: rotateY(180deg);
}

.card:hover .card-side.back {
    transform: rotateY(0deg);
}

.members {
    margin-bottom: 65px;

    @include media('<desktop') {
        margin-bottom: 30px;
    }

    .card {
        // min-height: 540px;
    }
}

.advisors {
    margin-bottom: 70px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background: url('../../images/company-advisors-bg.svg') no-repeat;
        background-size: cover;
        background-position: 0 0;
        height: 550px;
        width: 100%;
        z-index: -1;
        top: -550px;
        left: 0;
    }

    &::after {
        content: '';
        position: absolute;
        background: url('../../images/company-advisors-bg.svg') no-repeat;
        background-size: cover;
        background-position: 0 100%;
        height: 1150px;
        width: 100%;
        z-index: -1;
        top: 0;
    }

    .card {
        @include media('<tablet') {
            min-height: 380px;
        }

        @include media('<576px') {
            min-height: 345px;
        }
    }

    .card-bottom {
        padding: 25px 32px 28px;
    }
}

.ambassadors {
    padding-bottom: 75px;

    &:last-of-type {
        padding-bottom: 175px;
    }

    .card {
        @include media('<tablet') {
            min-height: 380px;
        }

        @include media('<576px') {
            min-height: 346px;
        }
    }

    .card-bottom {
        padding: 25px 32px 28px;
    }
}

.company-form {
    .row-holder {
        &:last-child {
            padding-bottom: 38px;
        }
    }
}