.faq {
    background: none;
    padding-top: 112px;
    padding-bottom: 210px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 175px;
        width: 100%;
        background: url('../../images/faq-contact-form-bg.svg') no-repeat;
        background-size: cover;
        background-position: 0 0;
        z-index: -1;

        @include media('<992px') {
            bottom: -50px;
        }

        @include media('<tablet') {
            bottom: -100px;
        }

        @include media('<400px') {
            bottom: -125px;
        }
    }

    @include media('<desktop') {
        padding-top: 42px;
        padding-bottom: 30px;
    }

    h2 {
        margin-bottom: 32px;

        @include media('<desktop') {
            margin-bottom: 18px;
        }
    }

    .row {
        margin-bottom: 20px;
    }

    .accordion {
        background-color: $white;
        color: #100F0F;
        cursor: pointer;
        padding: 30px;
        width: 100%;
        border: 1px solid $green-dark;
        text-align: left;
        outline: none;
        font-size: 24px;
        font-weight: 700;
        transition: $animation-speed;
        border-radius: 11px;
        position: relative;
        padding-right: 85px;

        @include media('<desktop') {
            font-size: 18px;
            padding: 24px 15px 15px;
        }
    }

    .accordion {

        &::after,
        &::before {
            content: '';
            position: absolute;
            background: #C4C4C4;
            transition: $animation-speed;
        }

        &::after {
            width: 3px;
            height: 29px;
            right: 41px;
            top: 28px;
        }

        &::before {
            width: 29px;
            height: 3px;
            right: 28px;
            top: 41px;
        }

        @include media('<desktop') {

            &::after,
            &::before {
                display: none;
            }
        }
    }

    .panel {
        padding: 0 136px 0 76px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        font-size: 18px;
        line-height: 22px;
        border-radius: 11px;

        p {
            margin-bottom: 24px;

            @include media('<desktop') {
                line-height: 19.5px;
                font-size: 16px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .active {
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        @include media('<desktop') {
            padding: 24px 15px 7px;
        }

        &::after,
        &::before {
            background: $green-dark;
            transform: rotate(45deg);
        }

        &+.panel {
            border: 1px solid $green-dark;
            border-top: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            padding: 0 136px 43px 76px;

            @include media('<desktop') {
                padding: 0 15px 28px;
            }
        }
    }
}

.faq-form {
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -270px;
        height: 500px;
        width: 100%;
        // background: url('../../images/faq-contact-form-bg.svg') no-repeat;
        background-size: cover;
        background-position: 0 0;
        z-index: -1;

        @include media('<tablet') {
            // background: $yellow;
        }
    }
}