.service {
    margin-top: 110px;
    padding-bottom: 137px;
    background: url(../../images/service-bg.svg) no-repeat;
    background-size: cover;
    background-position: 0 0;

    @include media ('<desktop') {
        padding-bottom: 50px;
    }

    h2 {
        @include media ('<desktop') {
            margin-bottom: 32px;
        }
    }

    @include media ('<desktop') {
        margin-top: 42px;
    }

    @include media ('<tablet') {
        margin-top: 42px;
        background-position: 0 -200px;
    }

    &__content {
        padding: 42px 68px 45px 105px;

        @include media ('<tablet') {
            padding: 74px 15px 20px;
        }

    }

    &__item {
        border-radius: 11px;
        border: 1px solid $green-dark;
        background: $white;
        position: relative;
        margin-bottom: 20px;
    }

    &__item-icon {
        content: '';
        position: absolute;
        left: 29px;
        top: 27px;
        font-size: 52px;

        @include media ('<tablet') {
            top: 23px;
            left: 15px;
            font-size: 40px;
        }
    }

    &__item-title {
        font-size: 24px;
        margin-bottom: 16px;
        display: block;
        text-align: left;
    }

    &__item-description {
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.faq-form {
    background: $yellow;
    color: #161515;
    padding-top: 0;

    &::before {
        background: none;
    }

    input:not(input[type="submit"]) {
        background: transparent;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid #727272;
        width: 100%;
        outline: transparent;

        &::placeholder {
            color: $gray;
        }
    }

    span {
        color: $gray;
    }
}