<header class="header">
    <div class="row-holder">
        <div class="header-inner">
            <div class="left">
                <div class="burger" id="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <nav class="navigation" id="headerNav">
                    <ul class="menu">
                        <li><a href="#">Service</a></li>
                        <li><a href="#">Iron shop</a></li>
                        <li><a href="#">About company</a></li>
                        <li><a href="#">About blockhain</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                    <ul class="header-social">
                        <li><a href="#">
                                <i class="icon-social-facebook icon"></i>
                            </a></li>
                        <li><a href="#">
                                <i class="icon-social-medium icon"></i>
                            </a></li>
                    </ul>
                </nav>
                <a class="logo" href="#">
                    <img src="/images/logo.svg" alt="Minery">
                </a>
            </div>
            <div class="right">
                <a href="#">SIGN IN</a>
                <a href="#" class="btn">SIGN UP</a>
                <ul class="language">
                    <li class="has-drop" id="language-drop"><a>EN</a>
                        <ul>
                            <li><a href="#">RU</a></li>
                        </ul>
                    </li>
                </ul>
                <a class="shop-cart" href="#"></a>
            </div>
        </div>
    </div>
</header>