<header class="header green-light">
    <div class="header-inner">
        <div class="left">
            <div class="burger" id="burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav class="navigation" id="headerNav">
                <ul class="menu">
                    <li><a href="service.html">Service</a></li>
                    <li><a href="shop.html">Iron shop</a></li>
                    <li><a href="about-company.html">About company</a></li>
                    <li><a href="about-blockchain.html">About blockchain</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="blog.html">Blog</a></li>
                </ul>
                <ul class="header-social desktop-less-hide">
                    <li><a href="#">
                            <i class="icon-social-facebook icon"></i>
                        </a></li>
                    <li><a href="#">
                            <i class="icon-social-medium icon"></i>
                        </a></li>
                </ul>
                <div class="list-holder desktop-hide">
                    <ul class="language">
                        <li class="has-drop" id="language-drop"><a>EN</a>
                            <ul>
                                <li><a href="#">RU</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="header-social">
                        <li><a href="#">
                                <i class="icon-social-facebook icon"></i>
                            </a></li>
                        <li><a href="#">
                                <i class="icon-social-medium icon"></i>
                            </a></li>
                    </ul>
                </div>
            </nav>
            <a class="logo" href="index.html">
                <img src="/images/logo.svg" alt="Minery">
            </a>
        </div>
        <div class="right">
            <a class="desktop-less-hide" href="signin.html">SIGN IN</a>
            <a class="desktop-less-hide btn" href="signup.html">SIGN UP</a>
            <a class="desktop-hide signInMob" href="signin.html">
                <i class="icon-signInMob"></i>
            </a>
            <ul class="language desktop-less-hide">
                <li class="has-drop" id="language-drop"><a>EN</a>
                    <ul>
                        <li><a href="#">RU</a></li>
                    </ul>
                </li>
            </ul>
            <a class="shop-cart" href="cart.html"></a>
        </div>
    </div>
</header>